Problema_III/dataset/Train.csv
Problema_II/__pycache__/model.cpython-313.pyc
Problema_II/__pycache__/preprocessing.cpython-313.pyc
test_bin.npy
test_clahe.npy
test_labels.npy
train_bin.npy
train_clahe.npy
train_labels.npy
*.npy
*.pkl
evaluation_results.csv
*.pyc
